body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('Images/wood 2.jpg');
}

.canvas {
    background-image: url("Images/drawisland.png");
    background-repeat: no-repeat;
    background-size: 1100px 500px;
    cursor: url(Images/crosshair7.png) 37 37,auto;
}

#start {
    color: white;
    font-size: 40px;
    text-align: center;
}

#meters {
    display: flex;
}

strong {
    border-style: ridge;
    border-color: burlywood;
    border-width: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
}


